<div th:fragment="cartPanel">
    <section class="cart-panel-content">
        <div class="cart-header">
            <h2>Giỏ hàng</h2>
            <button class="cart-close-btn close-cart" type="button">&times;</button>
        </div>

        <div class="cart-content" id="cart-items">
            <div th:each="item : ${cartItems}" class="cart-item">
                <input type="checkbox" name="selectedItems" checked>
                <img th:src="@{'/photos/' + ${item.product.imageUrl}}" alt="image" class="cart-item-image">
                <div class="cart-item-info">
                    <h4 th:text="${item.product.productName}"></h4>
                    <p class="cart-item-price"
                       th:text="${item.product.discountPrice != null ? item.product.discountPrice : item.product.price} + ' VND'"></p>
                    <p>
                        Số lượng:
                        <input type="number" min="1" th:value="${item.quantity}" readonly>
                    </p>
                </div>
                <div class="cart-item-total-price"
                     th:text="(${item.product.discountPrice != null ? item.product.discountPrice : item.product.price}) * ${item.quantity} + ' VND'">
                </div>

                <form th:action="@{'/cart/remove/' + ${item.cartItemId}}" method="post" style="display:inline;">
                    <button type="submit" class="btn-remove">×</button>
                </form>
            </div>
        </div>

        <div class="cart-footer">
            <form th:action="@{/cart/clear}" method="post" style="display:inline;">
                <button id="clear-cart" type="submit" onclick="return confirm('Bạn có chắc muốn xoá tất cả sản phẩm trong giỏ hàng?');">
                    Xoá tất cả
                </button>
            </form>

            <span>Tổng cộng:
              <span th:text="${total} + ' VND'">0 VND</span>
            </span>

            <form th:action="@{/checkout}" method="get" style="display:inline;">
                <button id="checkout" type="submit">Thanh toán</button>
            </form>
        </div>
    </section>
</div>
